* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  /* background-color: skyblue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 40% auto;
      grid-template-columns: 10% 40% auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "nav image main";
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  body {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 10vh auto;
        grid-template-rows: 10vh auto;
        grid-template-areas: "nav nav" "main main";
  }
}

nav.nav1 {
  /* background-color: palegreen; */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

@media screen and (max-width: 800px) {
  nav.nav1 {
    width: 100%;
    padding: 20px;
  }
}

.nav1__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  .nav1__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 720px) {
  .nav1__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav1__items a {
  text-decoration: none;
}

.nav1__items .logo {
  font-size: 2em;
}

@media screen and (max-width: 700px) {
  .nav1__items .logo {
    font-size: 1.3em;
  }
}

.nav1__items .menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
  font-size: 1em;
  margin: 3em 0;
  justify-self: flex-start;
}

@media screen and (max-width: 720px) {
  .nav1__items .menu .menu__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0;
    display: none;
  }
}

.nav1__items .menu .addon {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav1__items .menu .addon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0;
  }
}

@media screen and (max-width: 800px) {
  .nav1__items .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0;
  }
}

@media screen and (max-width: 700px) {
  .nav1__items .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0;
  }
}

.nav1__items .menu .nav__item {
  margin: 1em;
}

@media screen and (max-width: 800px) {
  .nav1__items .menu .nav__item {
    margin: 0 20px;
  }
}

@media screen and (max-width: 720px) {
  .find__us-section {
    display: none;
  }
}

.find__us {
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  margin: 20px;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.397);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.397);
}

.find__us .fas {
  margin-right: 5px;
}

.find__us span {
  font-size: .8em;
}

@media screen and (max-width: 800px) {
  .find__us {
    display: none;
  }
}

.imageContainer {
  height: 100vh;
}

@media screen and (max-width: 700px) {
  .imageContainer {
    display: none;
  }
}

.imageContainer img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: image;
  display: inline-block;
}

.imageContainer img::after {
  content: "asdfasf";
}

@media screen and (max-width: 800px) {
  .imageContainer img {
    display: none;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: main;
}

@media screen and (max-width: 800px) {
  .main {
    background: url("../images/interiorDesign.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(184, 52, 29, 0.603);
    background-blend-mode: overlay;
  }
}

.main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 10%;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .main__nav {
    display: none;
  }
}

.main__nav .nav__item {
  font-size: 1.2em;
  margin: auto 10px;
}

.main__headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em;
  height: 30vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 800px) {
  .main__headings {
    color: white;
  }
}

.main__headings .subheading {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .main__headings .subheading {
    color: white;
  }
}

.main__headings .subheading::after, .main__headings .subheading::before {
  content: "";
  width: 100px;
  height: 5px;
  font-weight: 900;
  background-color: black;
  display: block;
  margin: 0 20px;
}

@media screen and (max-width: 800px) {
  .main__headings .subheading::after, .main__headings .subheading::before {
    background-color: white;
  }
}

.main__headings .heading {
  text-transform: uppercase;
  font-size: 5em;
  margin-top: -10px;
}

@media screen and (max-width: 800px) {
  .main__headings .heading {
    color: white;
  }
}

.main__headings .description {
  text-align: center;
  width: 100%;
  font-weight: 600;
  color: #5f5f5f;
}

@media screen and (max-width: 800px) {
  .main__headings .description {
    color: white;
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

@media screen and (max-width: 800px) {
  .main__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

@media screen and (max-width: 700px) {
  .main__content1 {
    width: 100vw;
  }
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.205);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.205);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 40px;
  padding: 5px 20px;
  padding-right: 5px;
}

.input__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__form .input__field input {
  padding: 10px 10px;
  outline: none;
  border: none;
}

.main__form .button input[type=button] {
  padding: 10px;
  background-color: #C74A44;
  border: none;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.main__form .button input[type=button]:active {
  background-color: black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1120px) {
  .main__video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.video__description {
  width: 35%;
  font-size: .9em;
  margin: 10px 20px;
}

@media screen and (max-width: 1130px) {
  .video__description {
    width: 50%;
    margin-top: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .video__description {
    color: white;
    margin-top: 30px;
    text-align: center;
    width: 80%;
    margin-bottom: 30px;
  }
}

.main__content2 {
  position: absolute;
  right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 43%;
}

@media screen and (max-width: 800px) {
  .main__content2 {
    top: 50%;
  }
}

@media screen and (max-width: 720px) {
  .main__content2 {
    position: static;
  }
}

.social__links {
  text-orientation: mixed;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

@media screen and (max-width: 720px) {
  .social__links {
    text-orientation: unset;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
  }
}

.social__links a {
  text-decoration: none;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .social__links a {
    color: white;
    font-size: .8rem;
  }
}

.scroll__down button {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 2px 2px 3px #848484;
          box-shadow: 2px 2px 3px #848484;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */