*{
    box-sizing: border-box;
    font-family: poppins;
    margin: 0;
    padding: 0;
    color: black;
}

body{
    /* background-color: skyblue; */
    display: flex;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 40% auto;
    grid-template-rows: auto;
    grid-template-areas: "nav image main";
    overflow-x: hidden;
    @media screen and (max-width : 800px) {
        grid-template-columns: 40% 60%;
        grid-template-rows: 10vh auto ;
        grid-template-areas: "nav nav""main main";
    }
}

nav.nav1{
    /* background-color: palegreen; */
    grid-area: nav;
    @media screen and (max-width : 800px) {
        width: 100%;
        padding: 20px;
    }
}

.nav1__items{
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    list-style-type: none;
    @media screen and (max-width : 800px) {
        flex-direction: row;
        align-items: center;
    }
    @media screen and (max-width : 720px) {
        justify-content: space-between;
    }
    
}
.nav1__items a{
    text-decoration: none;
}
.nav1__items .logo{
    font-size: 2em;
    @media screen and (max-width : 700px) {
        font-size: 1.3em;
    }
}


.nav1__items .menu{
    align-self: center;
    justify-self: flex-start;
    font-size: 1em;
    margin: 3em 0;
    justify-self: flex-start;
    .menu__text{
        @media screen and (max-width : 720px) {
            display: flex;
            margin: 0 0;
            display: none;
        }
    }
    .addon{
        display: none;
        @media screen and (max-width : 800px) {
            display: flex;
            margin: 0 0;
        }
    }
    @media screen and (max-width : 800px) {
        display: flex;
        margin: 0 0;
    }
    @media screen and (max-width : 700px) {
        display: flex;
        margin: 0 0;
    }
}
.nav1__items .menu .nav__item{
    margin: 1em;
    @media screen and (max-width : 800px) {
       margin: 0 20px;
    }
}

.find__us-section{
    @media screen and (max-width : 720px) {
        display: none;
    }
}

.find__us{
    background-color: white;
    width: max-content;
    border: none;
    margin: 20px ;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.397);
    .fas{
        margin-right: 5px;
    }
    span{
        font-size: .8em;
    }
    
    @media screen and (max-width : 800px) {
        display: none;
    }

}
.imageContainer{
    // background-color: rgb(211, 164, 255);
    height: 100vh;

    @media screen and (max-width : 700px) {
        display: none;
    }

}

.imageContainer img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    grid-area: image;
    display: inline-block;
    &::after{
        content: "asdfasf";
    }
    @media screen and (max-width : 800px) {
        display: none;
    }
}

img{
}
.main{
    display: flex;
    flex-direction: column;
    grid-area: main;
    @media screen and (max-width : 800px) {
        // background-color: rgb(224, 224, 224);
        background: url("../images/interiorDesign.jpg")  no-repeat center center fixed;
        background-size: cover;
        background-color: rgba(184, 52, 29, 0.603);
        background-blend-mode: overlay;

    }
}

.main__nav{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    padding: 20px;
    @media screen and (max-width : 800px) {
        display: none;
    }
}

.main__nav .nav__item{
 font-size: 1.2em;
 margin: auto 10px;   
}

.main__headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
    height: 30vh;
    justify-content: center;
    @media screen and (max-width : 800px) {
        color: white;
    }
}
.main__headings .subheading{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    @media screen and (max-width : 800px) {
        color: white;
    }
}

.main__headings .subheading::after , .main__headings .subheading::before{
    content: "";
    width: 100px;
    height: 5px;
    font-weight: 900;
    background-color: black;
    display: block;
    margin: 0 20px;
    @media screen and (max-width : 800px) {
        background-color: white;
    }
}
.main__headings .heading{
    text-transform: uppercase;
    font-size: 5em;
    margin-top: -10px;
    @media screen and (max-width : 800px) {
        color: white;
    }

}
.main__headings .description{
text-align: center;
width: 100%;
font-weight: 600;
color: #5f5f5f;
@media screen and (max-width : 800px) {
    color: white;
}
}

.main__content{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @media screen and (max-width : 800px) {
        align-items: center;
        justify-content: center;
    }
}

.main__content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    @media screen and (max-width : 700px) {
        width: 100vw;
    }
    
}

.main__form{
    display: flex;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.205);
    align-items: center;
    justify-content: center;
    margin: 0 auto 40px;
    padding:5px 20px;
    padding-right: 5px;

}
.input__field{
    display: flex;
    align-items: center;

}
.main__form .input__field input{
    padding: 10px 10px;
    outline: none;
    border: none;
}

.main__form .button input[type = button]{
    padding: 10px;
    background-color: #C74A44;
    border: none;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.main__form .button input[type = button]:active{
    background-color: black;
    transition: all .3s;
}


.main__video{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    @media screen and (max-width : 1120px) {
        flex-direction: column;
     }
} 
.video__description{
    width: 35%;
    font-size: .9em;
    margin: 10px 20px;
    @media screen and (max-width : 1130px) {
        width: 50%;
        margin-top: 30px;
        text-align: center;
     }
     @media screen and (max-width : 800px) {
        color: white;
        margin-top: 30px;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
}

.main__content2{
    position: absolute;
    right: 20px;
    // bottom: 1px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 43%;
    @media screen and (max-width : 800px) {
        top: 50%;
    }
    @media screen and (max-width : 720px) {
        position: static;
    }
} 

.social__links{
    text-orientation: mixed;
    writing-mode:vertical-lr;
    @media screen and (max-width : 720px) {
        text-orientation: unset;
        writing-mode: unset;
    }

}

.social__links a {
    text-decoration: none;
    margin: 10px;
    @media screen and (max-width : 800px) {
        color: white;
        font-size: .8rem;
    }
}

.scroll__down button{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 3px #848484;
    margin-top: 30px;
}
